*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary:white;
    --color-secundary:black;
    --font-family:roboto;
}

header{
    background-color:var(--color-secundary);
}
.logo{
    background-color: var(--color-secundary);
    width: 85px;
}
.menu{
    background-color:var(--color-secundary);
    width: 25px;
    position: relative;
    left: 300px;
}